TELEGRAM_BOT_TOKEN="your-tg-bot-token"
SECRET_KEY="your-secret-key"
TELEGRAM_CHAT_ID="your-th-chat-id"
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

POSTGRES_HOST=POSTGRES_HOST
POSTGRES_DB=POSTGRES_DB
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_PORT=5432
