asgiref==3.11.0
Django
djangorestframework==3.16.1
sqlparse==0.5.4
flake8
flake8-quotes
flake8-variables-names
pep8-naming
django-debug-toolbar
djangorestframework-simplejwt
drf-spectacular
Pillow
psycopg2-binary